<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Hi! {{ email }}</p>

    <p>We have received a password reset request from you.</p>

    <p>Please click on the link below to reset your password.</p>

    <p>THis email is because you requested a password reset for your user account at.

    <p>Please go to the following page and choose a new password:</p>

    <a href="{{ reset_password_url }}">Click here</a>

    <p>Or copy and paste the link your browser.</p>

    {{ reset_password_url }}

    <p>Your username, in case you've forgotten:</p>

    <p>Thanks for using our site!</p>

    <p>The team</p>
</body>
</html>
